<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. Tous droits réservés.</small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Thème Ghostium</a> par <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a>, adapté et traduit par <a href="https://github.com/gretro/ghostium/">Gabriel Lemire</a></small></p>
  <p><small>Fièrement publié à l'aide de <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
